:root {
    --lightBeige : #F2E8C6;
    --lightOrange: #F5841A;
    --lightRed: #BB0029;
    --dark: #03002C;
}
html, body {
    padding: 0;
    margin: 0;
    background-color: var(--dark);
}
html {
    box-sizing: border-box;
    font-family: 'Quicksand', Courier, monospace;
    height: 100%;
}
body {
    height: 100%;
    font-family: 'Quicksand', Courier, monospace;
    font-size: 1.2rem;
}
.wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
}
#scrollTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: aqua;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
}
#scrollTop:hover {
    background-color: #555;
}
header {
    margin-bottom: 1.2rem;
    background-color: var(--dark);
    color: #ffffff;
}
h1 {
    font-size: 1.2rem;
    font-style: 'Cinzel';
}
.brand-logo > img {
    height: 80px;
    width: 80px;
}
nav {
    background-color: var(--dark);
    color: #ffffff;
    overflow: hidden;
    top: 0;
    position: sticky;
    z-index: 2;
}
.hero-image {
    background-image: url('./img/coffeehero.jpeg');
    opacity: 0.8;
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 5rem;
    font-weight: bolder;
}
#below {
    background-color: rgb(11, 5, 91);
    color: white;
}
#below:hover {
    background-color: steelblue;
}
section {
    display: flex;
    padding: 0 1.15rem;
}

#intro {
    display: flex;
    flex-direction: row;
    background-color: rgb(10, 4, 92);
    color: white;
    justify-content: space-around;
    align-items: center;
    opacity: 0.5;
}

#history {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: purple;
}

#process {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    color: white;
    background-color: palevioletred;
}

#item {
    align-self: center;
}
footer {
    text-align: center;
    list-style: none;
    color: navajowhite;
}

.social {
    list-style: none;
    display: inline-flex;
    flex-grow: inherit;
}

.social li {
    display: block;
    font-size: 1.25rem;
    margin: 0 10px;
}

#copyright {
    margin: 0 0 0 40px;
}